.contact {
    padding: 50px 0;
    background-color: #292929;

    .contact-header-container {
        display: flex;
        justify-content: center;

        h2 {
            margin-bottom: 50px;
            text-align: center;
            color: #fa9b1b;
            position: relative;
            display: inline-block;
            text-align: center;
        }

        h2::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: linear-gradient(to left, #fa9b1b 7%, #dca52e 93%);
            bottom: -10px;
            left: 0;
        }
    }

    .contact-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 40px;
        margin: 25px 0;
        background-color: #313131;



        i {
            color: orange;
            font-size: 5rem;
        }

        i:hover,
        i:focus {
            color: rgba(255, 166, 0, 0.438);
        }

        // .email {
        //     position: relative;
        // }

        // .email p {
        //     color: orange;
        //     font-weight: 600;
        //     position: absolute;
        // }

    }

    .form-container {
        background-color: #313131;
        padding: 75px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;

        input {
            background-color: #313131;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            color: white;
            padding: 25px;
        }

        textarea {
            background-color: #353535;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            min-height: 150px;
            color: white;
            padding: 25px;
        }

        button {
            background-color: #313131;
            color: orange;
            width: 200px;
            height: 75px;
            margin-top: 40px;
        }

        label {
            // position: absolute;
            margin-bottom: 10px;
        }
    }
}