footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;

    .footer-container {
        display: flex;
        justify-content: center;

        p {
            display: inline;
        }
    }


}