.projects {
    padding: 50px 0;

    .projects-header-container {
        display: flex;
        justify-content: center;

        h2 {
            margin-bottom: 50px;
            text-align: center;
            color: #fa9b1b;
            position: relative;
            display: inline-block;
            text-align: center;
        }

        h2::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: linear-gradient(to left, #fa9b1b 7%, #dca52e 93%);
            bottom: -10px;
            left: 0;
        }
    }

    .projects-gallery-container {
        display: flex;
        flex-wrap: wrap;

        .project-content {
            width: calc((100% - 60px) / 3);
            background-color: #292929;
            border: 1px solid grey;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            position: relative;
            overflow: hidden;

            a {
                display: inherit;
                width: 100%;
            }

            // .overlay {
            //     position: absolute;
            //     background-color: rgba(0, 128, 0, 0.5);
            //     width: 100%;
            //     height: 100%;

            //     p {
            //         display: none;
            //     }
            // }

            // .overlay:hover {
            //     visibility: visible;
            //     position: absolute;
            //     background-color: rgba(255, 166, 0, 0.795);
            //     width: 100%;
            //     height: 100%;
            //     animation: scale-in-center;
            //     // animation: rotateIn, 1s, zoomIn, 2s;

            //     p {
            //         display: initial;
            //     }
            // }
            .scale-in-center {
                position: absolute;
                // background-color: transparent;
                width: 100%;
                height: 100%;

                p {
                    display: none;
                }
            }

            .scale-in-center:hover {
                -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                visibility: visible;
                position: absolute;
                background-color: rgba(255, 166, 0, 0.795);
                width: 100%;
                height: 100%;
            }

        }
    }
}

@media (max-width: 1100px) {
    .projects {
        .projects-gallery-container {
            .project-content {
                width: calc((100% - 60px) / 2);
            }
        }
    }
}

@media (max-width: 850px) {
    .projects {
        .projects-gallery-container {
            .project-content {
                width: calc((100% - 60px));
            }
        }
    }
}