.top-nav {
    display: none;
}

@media (max-width: 900px) {
    .top-nav {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #313131;

        &-container {
            display: flex;
            justify-content: space-between;
        }

    }
}